= form_tag('/auth/developer', method: 'post', data: {turbo: false}) do
  = submit_tag "Login (developer)"

= form_tag('/auth/twitch', method: 'post', data: {turbo: false}) do
  = submit_tag "Login (Twitch)"
