<div id="<%= dom_id stream %>">
  <p>
    <strong>Twitch channel:</strong>
    <%= stream.twitch_channel_id %>
  </p>

  <p>
    <strong>Starts at:</strong>
    <%= stream.starts_at %>
  </p>

  <p>
    <strong>Initial duration:</strong>
    <%= stream.initial_duration %>
  </p>

</div>
