%div{id: "#{dom_id stream}"}
  %p
    %strong Twitch channel:
    = stream.twitch_channel_id
  %p
    %strong Starts at:
    = stream.starts_at
  %p
    %strong Initial duration:
    = stream.initial_duration
