<p style="color: green"><%= notice %></p>

<h1>Streams</h1>

<div id="streams">
  <% @streams.each do |stream| %>
    <%= render stream %>
    <p>
      <%= link_to "Show this stream", stream %>
    </p>
  <% end %>
</div>

<%= link_to "New stream", new_stream_path %>
