// Entry point for your Sass build

body {
  font-family: sans-serif;

  display: flex;
  flex-flow: column nowrap;

  align-items: center;

  margin: 0; padding: 0;
}

main, nav {
  width: 80em;
  max-width: 100%;
}

header {
  background-color: #bbb;
  align-self: stretch;

  display: flex;
  justify-content: center;
}

nav {

  text-align: center;
  padding: 0.5em;

  display: flex;
  justify-content: space-around;

  .title {
    flex-grow: 1;
  }

  .sudo {
    flex-grow: 0;
  }
}
